# #Sesi 13

In [1]:
from sklearn import datasets

wine = datasets.load_wine()

In [3]:
wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [4]:
wine.data.shape

(178, 13)

In [5]:
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test, y_train, y_test = train_test_split(wine.data, wine.target, test_size=0.3, random_state=42)

In [11]:
from sklearn.naive_bayes import GaussianNB

In [12]:
model = GaussianNB()
model.fit(x_train,y_train)

GaussianNB()

In [13]:
y_pred = model.predict(x_test)

In [15]:
from sklearn import metrics

metrics.accuracy_score(y_test, y_prod)

NameError: name 'y_prod' is not defined

# # Decision Tree

In [16]:
import pandas as pd

from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import train_test_split

from sklearn import metrics

In [18]:
col_names = ['pregnant','glucose','bp','skin', 'insulin', 'bmi','pedigree','age','label']

df = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/diabetes.csv', header=None, names=col_names
)

In [19]:
df.head()

,pregnant,glucose,bp,skin,insulin,bmi,pedigree,age,label
0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  769 non-null    object
 1   glucose   769 non-null    object
 2   bp        769 non-null    object
 3   skin      769 non-null    object
 4   insulin   769 non-null    object
 5   bmi       769 non-null    object
 6   pedigree  769 non-null    object
 7   age       769 non-null    object
 8   label     769 non-null    object
dtypes: object(9)
memory usage: 54.2+ KB

In [21]:
numer = ['pregnant','glucose','bp','skin', 'insulin', 'bmi','pedigree','age','label']

for col in numer :
    df[col] = pd.to_numeric(df[col], errors = 'coerce')

In [22]:
df.dropna(inplace=True)

In [23]:
feature_cols = ['pregnant','glucose','bp','skin', 'insulin', 'bmi','pedigree','age','label']

x = df[feature_cols] #df drop ("Label")
y = df.label

In [24]:
x.head()

   pregnant  glucose    bp  skin  insulin   bmi  pedigree   age  label
1       6.0    148.0  72.0  35.0      0.0  33.6     0.627  50.0    1.0
2       1.0     85.0  66.0  29.0      0.0  26.6     0.351  31.0    0.0
3       8.0    183.0  64.0   0.0      0.0  23.3     0.672  32.0    1.0
4       1.0     89.0  66.0  23.0     94.0  28.1     0.167  21.0    0.0
5       0.0    137.0  40.0  35.0    168.0  43.1     2.288  33.0    1.0

In [25]:
y

1      1.0
2      0.0
3      1.0
4      0.0
5      1.0
      ...
764    0.0
765    0.0
766    0.0
767    1.0
768    0.0
Name: label, Length: 768, dtype: float64

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=42)

In [30]:
dtClassifier = DecisionTreeClassifier()

In [35]:
dtClassifier = dtClassifier.fit(x_train, y_train)

In [ ]:
y_pred = dtClasssifier.predict(x_test)