# Sesi 2

## If Statement

In [21]:
utang = 9
saldo = 5

if saldo<utang:
    print('bisa tuh bayar utang wkwk')

bisa tuh bayar utang wkwk

In [22]:
if utang:
  print('Ini adalah utang Anda')

Ini adalah utang Anda

In [23]:
if 'uta' in 'utang':
  print('yes')

yes

## Grouping Statement

In [24]:
if 'uta' in 'utang':
  print('Kamu ada utang nih')
  print ('Makanya bayar utang dong')
  print ('Jangan ditunda atau pura pura lupa ye')

print ('Ini ga ada hubungannya gais')

Kamu ada utang nih
Makanya bayar utang dong
Jangan ditunda atau pura pura lupa ye
Ini ga ada hubungannya gais

In [25]:
if 'mamam' in 'utang':
  print('Kamu ada utang nih')
  print ('Makanya bayar utang dong')
  print ('Jangan ditunda atau pura pura lupa ye')

print ('Ini ga ada hubungannya gais')

Ini ga ada hubungannya gais

## Else & Elif

In [26]:
utang = 50000
saldo = 100000

if saldo > utang:
  print('bisa nih beli gofood')
else:
  print('bayar utang dulu keles')

bisa nih beli gofood

In [27]:
utang = 50000
saldo = 40000
hargaGoFood = 45000

if saldo > utang:
  print('bisa nih bayar utang hehe')
elif saldo < utang:
  print('gabisa bayar utang, mending makan dulu')
elif saldo > hargaGoFood:
  print('bisa nih beli Go Food')
else:
  print('udahlah nyerah aja')

gabisa bayar utang, mending makan dulu

## One Line If Statement

In [28]:
moon = 3

if moon == 3: print('bulan');print('luna')
elif moon == 2: print('bulan kw');print('luna kw')
else: print('bintangkecil')

bulan
luna

## Conditional Expressions

In [29]:
utang = False

print('status doi','bebas utang abang jagoo' if not utang else 'banyak utang doi tinggalin aja')

status doi bebas utang abang jagoo

## Pass Statement

In [30]:
if True:
  pass
print('tarik sis')

tarik sis

## While Looping

In [32]:
saldoTabungan = 10000

while saldoTabungan>0:
  saldoTabungan -= 2000
  print('Kamu berdonasi sebesar',saldoTabungan)

Kamu berdonasi sebesar 8000
Kamu berdonasi sebesar 6000
Kamu berdonasi sebesar 4000
Kamu berdonasi sebesar 2000
Kamu berdonasi sebesar 0

In [35]:
saldoTabungan = 10000

while saldoTabungan<20000:
  print('Kamu dapet bunga sebesar',saldoTabungan)
  saldoTabungan = saldoTabungan +(saldoTabungan*0.1)

Kamu dapet bunga sebesar 10000
Kamu dapet bunga sebesar 11000.0
Kamu dapet bunga sebesar 12100.0
Kamu dapet bunga sebesar 13310.0
Kamu dapet bunga sebesar 14641.0
Kamu dapet bunga sebesar 16105.1
Kamu dapet bunga sebesar 17715.61
Kamu dapet bunga sebesar 19487.171000000002

## Break & Continue

In [42]:
saldoTabungan = 10000

while saldoTabungan<=20000:
  saldoTabungan = saldoTabungan +(saldoTabungan*0.1)
  if saldoTabungan == 15000:
    break
  print('Kamu dapet bunga sebesar',saldoTabungan)

print('cukup ya bunganya buat bulan ini hehe')

Kamu dapet bunga sebesar 11000.0
Kamu dapet bunga sebesar 12100.0
Kamu dapet bunga sebesar 13310.0
Kamu dapet bunga sebesar 14641.0
Kamu dapet bunga sebesar 16105.1
Kamu dapet bunga sebesar 17715.61
Kamu dapet bunga sebesar 19487.171000000002
Kamu dapet bunga sebesar 21435.888100000004
cukup ya bunganya buat bulan ini hehe

In [41]:
saldoTabungan = 10000

while saldoTabungan<=20000:
  saldoTabungan = saldoTabungan +(saldoTabungan*0.1)
  if saldoTabungan == 15000:
    continue
  print('Kamu dapet bunga sebesar',saldoTabungan)

print('cukup ya bunganya buat bulan ini hehe')

Kamu dapet bunga sebesar 11000.0
Kamu dapet bunga sebesar 12100.0
Kamu dapet bunga sebesar 13310.0
Kamu dapet bunga sebesar 14641.0
Kamu dapet bunga sebesar 16105.1
Kamu dapet bunga sebesar 17715.61
Kamu dapet bunga sebesar 19487.171000000002
Kamu dapet bunga sebesar 21435.888100000004
cukup ya bunganya buat bulan ini hehe

## Nested While Loop

In [43]:
kotak = ['harta','tahta']

while len(kotak):
  print(kotak.pop(0))
  
  peti = ['uang','emas']

  while len(peti):
    print('*', peti.pop(0))

harta
* uang
* emas
tahta
* uang
* emas

## Definite Iteration

In [44]:
makanan = ['mie','soto','bakso']

for i in makanan:
  print(i)

mie
soto
bakso

## Range()

In [49]:
angpao = range(10)

for isi in angpao:
  print(isi)

0
1
2
3
4
5
6
7
8
9

## Example

In [50]:
temp = input('Ketikkan temperatur yang mau lo konversi, contoh 45C, 75F')

Ketikkan temperatur yang mau lo konversi, contoh 45C, 75F75F

In [51]:
temp

'75F'

In [53]:
degree = int(temp[:-1])
satuan = temp[-1]

degree, satuan

(75, 'F')

In [58]:
if satuan == 'C':
  hasil = int(degree*9) /5+32
elif satuan == 'F':
  hasil = int((degree-32)*5/9)
  print('Jadi hasil konversinya tuh', hasil)
else:
  print('salah satuan, masukin satuan yang bener dong')

Jadi hasil konversinya tuh 23